.postContainer {
    margin-inline: auto;
    width: max(60%, 25rem);
}

.postContainer a {
    text-decoration: none;
    color: var(--text-color-link);
}

.postContainer a:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

.postContainer blockquote {
    background: var(--background-color-blocks);
    box-shadow: var(--blocks-shadow);
    color: var(--text-color-file-name);
    border-radius: 0.3em;
    padding: 0.1rem;
    padding-left: 1rem;
}

.postContainer ul li::marker {
    content: "➜";
    color: var(--marker-color);
}

.postContainer ol li::marker {
    color: var(--marker-color);
}

.postContainer p img {
    margin: 1rem auto;
    max-width: 100%;
}

.header {
    border-bottom: 1px solid var(--border-color);
}

.headerBottom {
    display: flex;
    align-items: center;
    font-size: 1rem;
}

.headerBottom > a {
    margin-left: auto;
}

.language{
    height: 2rem;
    border: 2px solid var(--category-color);
    border-radius: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 0.2rem;
}

.title {
    font-size: 3rem;
    text-shadow: 3px 3px rgba(0, 0, 0, 0.5)
}

.description {
    color: var(--text-color-light);
}