.code-title {
    width: max(10%, 15rem);
    /* background color is hard coded to match code block color*/
    background: hsl(220, 13%, 18%);
    margin-bottom: -1.7rem;
    border-radius: 0.3em;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 3.5rem;
    z-index: 0;
    position: relative;
    font-family: sans-serif;
}

.code-icon {
    position: absolute;
    height: 2rem;
    left: 0;
    margin-top: 0.25rem;
    margin-left: 0.25rem;
}

.code-file-name {
    text-align: right;
    color: var(--text-color-file-name);
}