.header {
    text-align: center;
    margin: 3rem;
}

.cardContainer {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
    min-height: 70vh;
}

.center {
    text-align: center;
    width: 100%;
    padding-bottom: 2rem;
}

@media (max-width: 959px) {
    .cardContainer {
        flex-direction: column;
    }
}