.header {
    text-align: center;
    margin: 3rem;
}

.cardContainer {
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 959px) {
    .cardContainer {
        flex-direction: column;
    }
}