@font-face {
    font-family: "Lato";
    src: url("/fonts/Lato-Regular.ttf");
}

:root {
    --background-color: #171717;
    --background-color-nav: #222222;
    --background-color-blocks: hsl(220, 13%, 18%);
    --background-color-blocks-scroll: hsl(220, 13%, 10%);
    --blocks-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    --blocks-radius: 0.3em;
    --text-color: white;
    --text-color-secondary: #71C562; 
    --text-color-file-name: lightgrey;
    --text-color-light: lightgrey;
    --text-color-link: #0096FF;
    --text-color-keyword: #FFD700;
    --border-color: lightgrey;
    --border-color-secondary: rgba(128, 128, 128, 0.9);
    --category-color: gold;
    --marker-color: cyan;
    --red: #FF3131;
    --green: #50C878;
    --dark-green: #00A36C;
    --content-width: max(60%, 20rem);
}

html,
body {
    margin: 0;
    font-family: "Lato", sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

li,
p {
    font-size: 1.3rem;
}

li {
    padding-left: 1rem;
    padding-top: 0.2rem;
}

.rainbow-text {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.red {
    color: var(--red);
}

.key-block {
    display: flex;
    align-items: center;
    padding: 2rem;
    background-color: var(--background-color-blocks);
    box-shadow: var(--blocks-shadow);
    border-radius: var(--blocks-radius);
    padding-top: 0;
    padding-bottom: 0;
}

.key-icon {
    height: 3rem;
    margin-right: 3rem;
}

.hide-show-button {
    width: 10rem;
    height: 2rem;
    border-radius: 0.3em;
    background-color: var(--background-color-blocks);
    color: var(--text-color);
    border: 1px solid var(--green);
    font-size: 1.5rem;
}

.hide-show-button:hover {
    border: 1px solid var(--dark-green);
}

@media (max-width: 959px) {
    .key-icon {
        margin: 0;
        margin-top: 1rem;
    }

    .key-block {
        flex-direction: column;
    }
}